@font-face {
  font-family: "KonkhmerSleokchher";
  src: url("../assets/fonts/KonkhmerSleokchher-Regular.ttf");
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 80px;
  height: 100vh;
  gap: 20px;
  background-color: #fff7f7;
}

.login-page .top-part-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "KonkhmerSleokchher";
}

.login-page .nome-mercado {
  font-size: 45px;
  height: 60px;
  font-weight: 300;
}

.login-page .mensagem {
  font-size: 25px;
  color: #887474;
  font-family: Arial, Helvetica, sans-serif;
}

.login-page .form {
  background-color: #ffffff;
  border-radius: 40px;
  width: 550px;
  border: 0.5px solid rgba(0, 0, 0, 0.323);
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 40px;
  gap: 20px;
}

.login-page .campos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
}

.login-page label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-page input {
  background-color: #fff7f7;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.326);
  box-sizing: border-box;
}

.login-page .conta {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  color: #666;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.login-page .cadastrar-se {
  color: #0080FF;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.login-page .cadastrar-se:hover {
  color: #1e02d0;
  text-decoration: underline;
}

.login-page button {
  display: block;
  margin: 20px auto 0; 
  border-radius: 8px;
  border: none;
  padding: 12px;
  width: 70%;
  background-color: #54bd54;
  font-size: 16px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.login-page button:hover {
  background-color: #0cd954;
}

.login-page .subtitulo {
  color: #F75F13;
  font-size: 20px;
  margin-top: 10px;
}