@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/static/Inter_18pt-Regular.ttf");
}

@font-face {
  font-family: "KonkhmerSleokchher";
  src: url("../assets/fonts/KonkhmerSleokchher-Regular.ttf");
}

.categorias-home {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "KonkhmerSleokchher";
}

.categorias-home h2 {
  font-size: 30px;
}

.img-card {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.categorias-container {
  display: flex;
  gap: 100px;
  font-family: "Inter";
  font-size: 15px;
}

.categoria-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.carrossel-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.seta {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.categorias-home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-seta {
  display: flex;
  align-items: center;
}

.categoria-card {
  transition: transform 0.3s ease;
}

.categoria-card:hover {
  transform: scale(1.05);
}