.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ffff;
}

.procura{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    width: 600px;
    height: 47px;
    background-color: #f7f7f7f7;
}

.procura > * {
  margin-left: 20px;
}

.procura-input{
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
    padding-right: 10px;
}

.botao-procura{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.logo {
    width: 90px;
    height: auto;
}

.user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-perfil {
    width: 30px;
    height: 30px;
}

#icon-pesquisa {
    width: 20px;
    height: 20px;
}