.categoria-menu{
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding: 15px;
    background-color: #54BD54;
}

.categoria-btn {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.categoria-btn:hover{
    color: #000000;
}
