@font-face {
  font-family: "KonkhmerSleokchher";
  src: url("../assets/fonts/KonkhmerSleokchher-Regular.ttf");
}

.categoria-menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px;
  background-color: #54bd54;
  overflow-x: auto;
}

.categoria-btn {
  margin: 0;
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
  min-width: 160px;
  font-weight: 300;
  font-family: "KonkhmerSleokchher";
}

.categoria-btn:hover {
  color: #ff8c18;
  background-color: transparent;
}

@media (max-width: 500px) {
  .categoria-menu {
    gap: 16px;
  }
  .categoria-menu{
    display: none;
  }
}
